  .linkleaf  { 
    stroke:rgb(0, 0, 0)!important;
  }

  .linkbranch  { 
    stroke:rgb(0, 0, 0)!important;
  }

  .container {
    font-family: arial;
    font-size: 24px;
    margin: 25px;
    outline: dashed 1px black;
    /* Center child horizontally*/
    display: flex;
    justify-content: center;
  }

  .my-tooltip {
    background: rgba(0, 0, 255, 0.2);
  }